<div class="container">
  <div class="main">
    <div class="card">
      <div class="card-body">
        <h3>Update Credentials</h3>
        <hr />
        <table>
          <tbody>
            <tr>
              <td>
                <input
                  type="email"
                  class="form-control"
                  [(ngModel)]="auth.emailId"
                  [disabled]="true"
                />
              </td>
            </tr>
            <br />
            <tr>
              <td>
                <input
                  type="email"
                  class="form-control"
                  [(ngModel)]="auth.userPassword"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <pre></pre>
        <button class="btn btn-secondary" (click)="onUpdateClick()">
          Update Credentials
        </button>
      </div>
    </div>
  </div>
</div>
