<pre></pre>
<div class="grid-container1">
  <div
    class="card"
    id="cart-products"
    style="width: 15rem"
    *ngFor="let product of UserProductsList"
  >
    <img
      class="card-img-top"
      id="card-img"
      style="padding: 1"
      src="/assets/File/{{ product.userProductImage }}"
      height="220"
      width="240"
    />
    <div class="card-body" style="text-align: center">
      <a href="" style="text-decoration: none; color: rgb(36, 120, 154)">{{
        product.userProductName
      }}</a>
      <div>{{ product.userProductPrice | currency : "INR" }}</div>
      <div>{{ product.requestDate }}</div>
      <div
        [ngClass]="{
          'green-text': product.approvalStatus === 'Accepted',
          'red-text': product.approvalStatus === 'Rejected',
          'warn-text': product.approvalStatus === 'Pending'
        }"
      >
        {{ product.approvalStatus }}
      </div>
    </div>
  </div>
</div>
