<table style="width: 100%">
  <tr
    style="
      background-color: #300a77;
      color: white;
      font-size: medium;
      vertical-align: text-top;
    "
    *ngIf="isH1Visible"
  >
    <td style="text-align: center">
      <p
        class="text-white text-center"
        style="margin-top: 0.08cm; margin-bottom: -0.1cm; font-weight: 500"
      >
        Exclusive Offer - Additional 20% OFF. Use Code "MAPLE20"
      </p>
    </td>
    <td>
      <a (click)="closeH1()" style="color: white">x</a>
    </td>
  </tr>
</table>
<nav
  class="navbar navbar-expand-lg navbar-light bg-light"
  style="
    position: sticky;
    z-index: 999;
    top: -10px;
    box-shadow: -6px 5px 5px rgba(151, 151, 151, 0.5);
    height: 1.5cm;
  "
>
  <div style="padding-left: 2%">
    <img
      src="/assets/fLOGO1.png"
      width="130px"
      height="51px"
      style="margin-top: 0.13cm"
      routerLink="/admin/home"
    />
  </div>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 8%">
      <li
        class="lvl1 parent megamenu"
        style="
          margin-top: 0.65cm;
          width: 3cm;
          text-align: center;
          height: 0.85cm;
        "
      >
        <a routerLink="/admin/living">LIVING ROOM</a>
      </li>
      <li
        class="lvl1 parent megamenu"
        style="margin-top: 0.65cm; width: 3cm; text-align: center"
      >
        <a routerLink="/admin/bedroom">BEDROOM</a>
      </li>
      <li
        class="lvl1 parent megamenu"
        style="margin-top: 0.65cm; width: 3cm; text-align: center"
      >
        <a routerLink="/admin/dining">DINING ROOM</a>
      </li>
      <li
        class="lvl1 parent megamenu"
        style="margin-top: 0.65cm; width: 3cm; text-align: center"
      >
        <a routerLink="/admin/storage">STORAGE</a>
      </li>
      <li>
        <img
          src="/assets/search.png"
          height="21"
          style="margin-top: 0.5cm; margin-left: 7.5cm"
          router-link="/login"
        />
      </li>
      <li style="margin-left: 0cm">
        <a mat-button *ngIf="!isLoggegIn" (click)="loginbutton()"
          ><img src="/assets/user.png" height="20" style="margin-top: 0.5cm"
        /></a>
        <button
          *ngIf="isLoggegIn"
          mat-button
          [matMenuTriggerFor]="menu"
          style="margin-left: -0.2cm; margin-top: 0.35cm"
          class="xy"
        >
          {{ userName | uppercase }}
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/admin/profile">Profie</button>
          <button mat-menu-item routerLink="/admin/users">Users</button>
          <button mat-menu-item routerLink="/admin/request">
            Pending Requests
          </button>
          <button mat-menu-item routerLink="/admin/accepted">
            Accepted Requests
          </button>
          <button mat-menu-item routerLink="/admin/rejected">
            Rejected Requests
          </button>
          <button mat-menu-item routerLink="/admin/soldProducts">
            View Orders
          </button>
          <button mat-menu-item (click)="logoutbutton()">Logout</button>
        </mat-menu>
      </li>
    </ul>
  </div>
</nav>
<pre></pre>
